@using GridMvc.Html
@model IEnumerable<MVCUniversity.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Columns(columns =>
        {
            columns.Add(course => course.ID).Titled("ID").SortInitialDirection(GridMvc.Sorting.GridSortDirection.Ascending);
            columns.Add(course => course.Title).Titled("Name");
            columns.Add(course => course.ProfessorID).Titled("Professor ID");
            columns.Add(course => course.Professor.FirstName).Titled("Professor Name").RenderValueAs(course => course.Professor.FirstName + " " + course.Professor.LastName);
            columns.Add(course => course.Credits).Titled("Credit Hours");
            columns.Add().Encoded(false).Sanitized(false).RenderValueAs(professor => CustomRenderingOfColumn(professor));
        }).Sortable(true).Filterable(true).WithMultipleFilters().WithPaging(10)

@helper CustomRenderingOfColumn(MVCUniversity.Models.Course item)
{
    <td class="text-center">
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
}
