@using GridMvc.Html
@model IEnumerable<MVCUniversity.Models.Enrollment>

@{
    ViewBag.Title = "Index";
}

<h2>Enrollments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Columns(columns =>
        {
            columns.Add(enrollment => enrollment.CourseID).Titled("Course ID").SortInitialDirection(GridMvc.Sorting.GridSortDirection.Ascending);
            columns.Add(enrollment => enrollment.Course.Title).Titled("Course Name");
            columns.Add(enrollment => enrollment.StudentID).Titled("Student ID");
            columns.Add(enrollment => enrollment.Student.FirstName).Titled("Student Name").RenderValueAs(enrollment => enrollment.Student.FirstName + " " + enrollment.Student.LastName);
            columns.Add(enrollment => enrollment.Date).Titled("Enrollment Date").Format("{0:MM/dd/yyyy}");
            columns.Add(enrollment => enrollment.Grade).Titled("Grade");
            columns.Add().Encoded(false).Sanitized(false).RenderValueAs(enrollment => CustomRenderingOfColumn(enrollment));
        }).Sortable(true).Filterable(true).WithMultipleFilters().WithPaging(10)

@helper CustomRenderingOfColumn(MVCUniversity.Models.Enrollment item)
{
    <td class="text-center">
        @Html.ActionLink("Edit", "Edit", new { courseID = item.CourseID, studentID = item.StudentID }) |
        @Html.ActionLink("Details", "Details", new { courseID = item.CourseID, studentID = item.StudentID }) |
        @Html.ActionLink("Delete", "Delete", new { courseID = item.CourseID, studentID = item.StudentID })
    </td>
}

